In [1]:
import pandas as pd
import numpy as np
import webbrowser
import requests
from bs4 import BeautifulSoup
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
circuits = pd.read_csv("..\Data\circuits.csv")

circuits

,circuitId,circuitRef,name,location,country,lat,lng,alt,url,layout
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,"-37,8497","144,968",10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,https://upload.wikimedia.org/wikipedia/commons...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,"2,76083","101,738",18,http://en.wikipedia.org/wiki/Sepang_Internatio...,https://upload.wikimedia.org/wikipedia/commons...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,"26,0325","50,5106",7,http://en.wikipedia.org/wiki/Bahrain_Internati...,https://media.formula1.com/image/upload/conten...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,"41,57","2,26111",109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,https://media.formula1.com/image/upload/conten...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,"40,9517","29,405",130,http://en.wikipedia.org/wiki/Istanbul_Park,https://media.formula1.com/image/upload/conten...
...,...,...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,"37,227","-8,6267",108,http://en.wikipedia.org/wiki/Algarve_Internati...,https://media.formula1.com/image/upload/conten...
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,"43,9975","11,3719",255,http://en.wikipedia.org/wiki/Mugello_Circuit,https://media.formula1.com/image/upload/conten...
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,"21,6319","39,1044",15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...,https://media.formula1.com/image/upload/conten...
75,78,losail,Losail International Circuit,Al Daayen,Qatar,"25,49","51,4542",\N,http://en.wikipedia.org/wiki/Losail_Internatio...,https://media.formula1.com/image/upload/conten...
76,79,miami,Miami International Autodrome,Miami,United States of America,"25,9581","-80,2389",\N,http://en.wikipedia.org/wiki/Miami_Internation...,https://media.formula1.com/image/upload/conten...

In [3]:
circuits['lat'] = circuits['lat'].astype(str)

circuits['lng'] = circuits['lng'].astype(str)

In [4]:
circuits['lat'] = circuits['lat'].str.replace('.', ',')

circuits['lng'] = circuits['lng'].str.replace('.', ',')

C:\Users\chiin\AppData\Local\Temp\ipykernel_11944\386890475.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  circuits['lat'] = circuits['lat'].str.replace('.', ',')
C:\Users\chiin\AppData\Local\Temp\ipykernel_11944\386890475.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  circuits['lng'] = circuits['lng'].str.replace('.', ',')

In [5]:
circuits['lat'] = circuits['lat'].astype(float)

circuits['lng'] = circuits['lng'].astype(float)

ValueError: could not convert string to float: '-37,8497'

In [10]:
circuits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     object
 6   lng         77 non-null     object
 7   alt         77 non-null     object
 8   url         77 non-null     object
 9   layout      77 non-null     object
dtypes: int64(1), object(9)
memory usage: 6.1+ KB

In [11]:
circuits['country'] = circuits['country'].replace(['USA', 'United States'], 'United States of America')

In [12]:
#circuits['layout'] = np.nan
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url,layout
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,"-37,8497","144,968",10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,https://upload.wikimedia.org/wikipedia/commons...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,"2,76083","101,738",18,http://en.wikipedia.org/wiki/Sepang_Internatio...,https://upload.wikimedia.org/wikipedia/commons...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,"26,0325","50,5106",7,http://en.wikipedia.org/wiki/Bahrain_Internati...,https://media.formula1.com/image/upload/conten...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,"41,57","2,26111",109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,https://media.formula1.com/image/upload/conten...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,"40,9517","29,405",130,http://en.wikipedia.org/wiki/Istanbul_Park,https://media.formula1.com/image/upload/conten...

In [13]:
circuits.to_csv('../Data/circuits.csv', index=False)

In [15]:
lista_links = list(circuits.url.unique())

In [17]:
# for link in lista_links:
    # webbrowser.open_new_tab(link)

In [18]:
circuits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     object
 6   lng         77 non-null     object
 7   alt         77 non-null     object
 8   url         77 non-null     object
 9   layout      77 non-null     object
dtypes: int64(1), object(9)
memory usage: 6.1+ KB

In [19]:
constructor_results = pd.read_csv("..\Data\constructor_results.csv")

constructor_results

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0     \N
1                         2      18              2     8.0     \N
2                         3      18              3     9.0     \N
3                         4      18              4     5.0     \N
4                         5      18              5     2.0     \N
...                     ...     ...            ...     ...    ...
12285                 16785    1110            214    10.0     \N
12286                 16786    1110            213     1.0     \N
12287                 16787    1110             51     0.0     \N
12288                 16788    1110              3     0.0     \N
12289                 16789    1110            210     0.0     \N

[12290 rows x 5 columns]

In [20]:
constructor_results.status.unique()

array(['\\N', 'D'], dtype=object)

In [21]:
constructor_standings = pd.read_csv("..\Data\constructor_standings.csv")

constructor_standings

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0
...,...,...,...,...,...,...,...
13046,28568,1110,214,57.0,6,6,0
13047,28569,1110,3,11.0,7,7,0
13048,28570,1110,213,3.0,10,10,0
13049,28571,1110,210,11.0,8,8,0
13050,28572,1110,1,103.0,5,5,0

In [ ]:
constructors = pd.read_csv("..\Data\constructors.csv")

constructors

In [ ]:
constructors.name.unique()

In [ ]:
constructors[constructors.name=='Lotus-Pratt &amp; Whitney']

for c in cons:
    busqueda = f"https://www.google.com/search?q={c} f1 logo"
    webbrowser.open_new_tab(busqueda)

carpeta = r"C:\Users\chiin\Desktop\f1_databse\Images\escuderias"

# Recorrer los nombres y descargar la primera imagen de cada búsqueda
for c in cons:
    busqueda = f"https://www.google.com/search?q={c} f1 logo"
    response = requests.get(busqueda)
    response.raise_for_status()

    soup = BeautifulSoup(response.text, 'html.parser')
    imagen_tag = soup.find('img')
    imagen_url = imagen_tag['src']

    # Obtener el nombre de la imagen
    nombre_imagen = c.replace(' ', '_') + '.jpg'
    ruta_imagen = os.path.join(carpeta, nombre_imagen)

    # Descargar y guardar la imagen
    imagen_response = requests.get(imagen_url)
    with open(ruta_imagen, 'wb') as f:
        f.write(imagen_response.content)

In [6]:
driver_standings = pd.read_csv("..\Data\driver_standings.csv")

driver_standings

,driverStandingsId,raceId,driverId,points,position,positionText,wins
0,1,18,1,10.0,1,1,1
1,2,18,2,8.0,2,2,0
2,3,18,3,6.0,3,3,0
3,4,18,4,5.0,4,4,0
4,5,18,5,4.0,5,5,0
...,...,...,...,...,...,...,...
34119,72183,1110,846,69.0,8,8,0
34120,72184,1110,839,35.0,10,10,0
34121,72185,1110,844,99.0,5,5,0
34122,72186,1110,857,34.0,11,11,0
34123,72187,1110,817,0.0,21,21,0

In [7]:
drivers = pd.read_csv("..\Data\drivers.csv")

drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
853,855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Zhou_Guanyu
854,856,de_vries,21,DEV,Nyck,de Vries,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant

In [8]:
drivers['forename'] = drivers['forename'] + ' ' + drivers['surname']

drivers.drop("surname", axis =1, inplace = True)

drivers = drivers.rename(columns={'forename': 'name'})

drivers.head()

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [9]:
drivers.to_csv('../Data/drivers_new.csv', index=False)

In [ ]:
lap_times = pd.read_csv("..\Data\lap_times.csv")

lap_times

In [ ]:
pit_stops = pd.read_csv("..\Data\pit_stops.csv")

pit_stops

In [ ]:
qualifying = pd.read_csv("..\Data\qualifying.csv")

qualifying

In [ ]:
races = pd.read_csv("../Data/races.csv")

races

In [ ]:
results = pd.read_csv("../Data/results.csv")

results

In [ ]:
seasons = pd.read_csv("../Data/seasons.csv")

seasons

In [ ]:
sprint_results = pd.read_csv("../Data/sprint_results.csv")

sprint_results

In [ ]:
status = pd.read_csv("../Data/status.csv")

status

In [ ]:
str_conn = f'mysql+pymysql://root:{password}!@localhost:3306/f1'    #aqui va el nombre de la base de datos ya creada
cursor = create_engine(str_conn)

In [ ]:
circuits.to_sql(name='circuits',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

In [ ]:
constructor_results.to_sql(name='constructor_results',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

In [ ]:
constructor_standings.to_sql(name='constructor_standings',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

In [ ]:
constructors.to_sql(name='constructors',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

In [ ]:
driver_standings.to_sql(name='driver_standings',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

In [ ]:
drivers.to_sql(name='drivers',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

In [ ]:
lap_times.to_sql(name='lap_times',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

In [ ]:
pit_stops.to_sql(name='pit_stops',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

In [ ]:
qualifying.to_sql(name='qualifying',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

In [ ]:
races.to_sql(name='races',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

In [ ]:
results.to_sql(name='results',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

In [ ]:
seasons.to_sql(name='seasons',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

In [ ]:
sprint_results.to_sql(name='sprint_results',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

In [ ]:
status.to_sql(name='status',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )