In [1]:
import pandas as pd
import numpy as np
import webbrowser
import requests
from bs4 import BeautifulSoup
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
circuits = pd.read_csv("..\Data\circuits.csv")

circuits

,circuitId,circuitRef,name,location,country,lat,lng,alt,url,layout
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,https://upload.wikimedia.org/wikipedia/commons...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...,https://upload.wikimedia.org/wikipedia/commons...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...,https://media.formula1.com/image/upload/conten...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,https://media.formula1.com/image/upload/conten...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park,https://media.formula1.com/image/upload/conten...
...,...,...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...,https://media.formula1.com/image/upload/conten...
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit,https://media.formula1.com/image/upload/conten...
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...,https://media.formula1.com/image/upload/conten...
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,\N,http://en.wikipedia.org/wiki/Losail_Internatio...,https://media.formula1.com/image/upload/conten...
76,79,miami,Miami International Autodrome,Miami,United States of America,25.95810,-80.23890,\N,http://en.wikipedia.org/wiki/Miami_Internation...,https://media.formula1.com/image/upload/conten...

In [5]:
circuits['lat'] = circuits['lat'].astype(str)

circuits['lng'] = circuits['lng'].astype(str)

In [6]:
circuits['lat'] = circuits['lat'].str.replace('.', ',')

circuits['lng'] = circuits['lng'].str.replace('.', ',')

C:\Users\chiin\AppData\Local\Temp\ipykernel_9644\386890475.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  circuits['lat'] = circuits['lat'].str.replace('.', ',')
C:\Users\chiin\AppData\Local\Temp\ipykernel_9644\386890475.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  circuits['lng'] = circuits['lng'].str.replace('.', ',')

In [7]:
circuits['country'] = circuits['country'].replace(['USA', 'United States'], 'United States of America')

In [8]:
#circuits['layout'] = np.nan
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url,layout
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,"-37,8497","144,968",10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,https://upload.wikimedia.org/wikipedia/commons...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,"2,76083","101,738",18,http://en.wikipedia.org/wiki/Sepang_Internatio...,https://upload.wikimedia.org/wikipedia/commons...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,"26,0325","50,5106",7,http://en.wikipedia.org/wiki/Bahrain_Internati...,https://media.formula1.com/image/upload/conten...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,"41,57","2,26111",109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,https://media.formula1.com/image/upload/conten...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,"40,9517","29,405",130,http://en.wikipedia.org/wiki/Istanbul_Park,https://media.formula1.com/image/upload/conten...

In [9]:
circuits.to_csv('../Data/circuits.csv', index=False)

In [6]:
list(circuits.url.unique())

['http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit',
 'http://en.wikipedia.org/wiki/Sepang_International_Circuit',
 'http://en.wikipedia.org/wiki/Bahrain_International_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya',
 'http://en.wikipedia.org/wiki/Istanbul_Park',
 'http://en.wikipedia.org/wiki/Circuit_de_Monaco',
 'http://en.wikipedia.org/wiki/Circuit_Gilles_Villeneuve',
 'http://en.wikipedia.org/wiki/Circuit_de_Nevers_Magny-Cours',
 'http://en.wikipedia.org/wiki/Silverstone_Circuit',
 'http://en.wikipedia.org/wiki/Hockenheimring',
 'http://en.wikipedia.org/wiki/Hungaroring',
 'http://en.wikipedia.org/wiki/Valencia_Street_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_de_Spa-Francorchamps',
 'http://en.wikipedia.org/wiki/Autodromo_Nazionale_Monza',
 'http://en.wikipedia.org/wiki/Marina_Bay_Street_Circuit',
 'http://en.wikipedia.org/wiki/Fuji_Speedway',
 'http://en.wikipedia.org/wiki/Shanghai_International_Circuit',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jos%C3%A9_Carlos_Pace',
 'http://en.wikipedia.org/wiki/Indianapolis_Motor_Speedway',
 'http://en.wikipedia.org/wiki/N%C3%BCrburgring',
 'http://en.wikipedia.org/wiki/Autodromo_Enzo_e_Dino_Ferrari',
 'http://en.wikipedia.org/wiki/Suzuka_Circuit',
 'https://en.wikipedia.org/wiki/Las_Vegas_Grand_Prix#Circuit',
 'http://en.wikipedia.org/wiki/Yas_Marina_Circuit',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Oscar_Alfredo_G%C3%A1lvez',
 'http://en.wikipedia.org/wiki/Circuito_Permanente_de_Jerez',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_do_Estoril',
 'http://en.wikipedia.org/wiki/TI_Circuit',
 'http://en.wikipedia.org/wiki/Adelaide_Street_Circuit',
 'http://en.wikipedia.org/wiki/Kyalami',
 'http://en.wikipedia.org/wiki/Donington_Park',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Hermanos_Rodr%C3%ADguez',
 'http://en.wikipedia.org/wiki/Phoenix_street_circuit',
 'http://en.wikipedia.org/wiki/Paul_Ricard_Circuit',
 'http://en.wikipedia.org/wiki/Korean_International_Circuit',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Internacional_Nelson_Piquet',
 'http://en.wikipedia.org/wiki/Detroit_street_circuit',
 'http://en.wikipedia.org/wiki/Brands_Hatch',
 'http://en.wikipedia.org/wiki/Circuit_Zandvoort',
 'http://en.wikipedia.org/wiki/Zolder',
 'http://en.wikipedia.org/wiki/Dijon-Prenois',
 'http://en.wikipedia.org/wiki/Fair_Park',
 'http://en.wikipedia.org/wiki/Long_Beach,_California',
 'http://en.wikipedia.org/wiki/Las_Vegas_Street_Circuit',
 'http://en.wikipedia.org/wiki/Circuito_Permanente_Del_Jarama',
 'http://en.wikipedia.org/wiki/Watkins_Glen_International',
 'http://en.wikipedia.org/wiki/Scandinavian_Raceway',
 'http://en.wikipedia.org/wiki/Mosport',
 'http://en.wikipedia.org/wiki/Montju%C3%AFc_circuit',
 'http://en.wikipedia.org/wiki/Nivelles-Baulers',
 'http://en.wikipedia.org/wiki/Charade_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_Mont-Tremblant',
 'http://en.wikipedia.org/wiki/Rouen-Les-Essarts',
 'http://en.wikipedia.org/wiki/Circuit_de_la_Sarthe#Bugatti_Circuit',
 'http://en.wikipedia.org/wiki/Reims-Gueux',
 'http://en.wikipedia.org/wiki/Prince_George_Circuit',
 'http://en.wikipedia.org/wiki/Zeltweg_Airfield',
 'http://en.wikipedia.org/wiki/Aintree_Motor_Racing_Circuit',
 'http://en.wikipedia.org/wiki/Circuito_da_Boavista',
 'http://en.wikipedia.org/wiki/Riverside_International_Raceway',
 'http://en.wikipedia.org/wiki/AVUS',
 'http://en.wikipedia.org/wiki/Monsanto_Park_Circuit',
 'http://en.wikipedia.org/wiki/Sebring_Raceway',
 'http://en.wikipedia.org/wiki/Ain-Diab_Circuit',
 'http://en.wikipedia.org/wiki/Pescara_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_Bremgarten',
 'http://en.wikipedia.org/wiki/Pedralbes_Circuit',
 'http://en.wikipedia.org/wiki/Buddh_International_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_of_the_Americas',
 'http://en.wikipedia.org/wiki/Red_Bull_Ring',
 'http://en.wikipedia.org/wiki/Sochi_Autodrom',
 'http://en.wikipedia.org/wiki/Baku_City_Circuit',
 'http://en.wikipedia.org/wiki/Algarve_International_Circuit',
 'http://en.wikipedia.org/wiki/Mugello_Circuit',
 'http://en.wikipedia.org/wiki/Jeddah_Street_Circuit',
 'http://en.wikipedia.org/wiki/Losail_International_Circuit',
 'http://en.wikipedia.org/wiki/Miami_International_Autodrome']

In [7]:
lista_links = ['http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit',
 'http://en.wikipedia.org/wiki/Sepang_International_Circuit',
 'http://en.wikipedia.org/wiki/Bahrain_International_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_de_Barcelona-Catalunya',
 'http://en.wikipedia.org/wiki/Istanbul_Park',
 'http://en.wikipedia.org/wiki/Circuit_de_Monaco',
 'http://en.wikipedia.org/wiki/Circuit_Gilles_Villeneuve',
 'http://en.wikipedia.org/wiki/Circuit_de_Nevers_Magny-Cours',
 'http://en.wikipedia.org/wiki/Silverstone_Circuit',
 'http://en.wikipedia.org/wiki/Hockenheimring',
 'http://en.wikipedia.org/wiki/Hungaroring',
 'http://en.wikipedia.org/wiki/Valencia_Street_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_de_Spa-Francorchamps',
 'http://en.wikipedia.org/wiki/Autodromo_Nazionale_Monza',
 'http://en.wikipedia.org/wiki/Marina_Bay_Street_Circuit',
 'http://en.wikipedia.org/wiki/Fuji_Speedway',
 'http://en.wikipedia.org/wiki/Shanghai_International_Circuit',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Jos%C3%A9_Carlos_Pace',
 'http://en.wikipedia.org/wiki/Indianapolis_Motor_Speedway',
 'http://en.wikipedia.org/wiki/N%C3%BCrburgring',
 'http://en.wikipedia.org/wiki/Autodromo_Enzo_e_Dino_Ferrari',
 'http://en.wikipedia.org/wiki/Suzuka_Circuit',
 'https://en.wikipedia.org/wiki/Las_Vegas_Grand_Prix#Circuit',
 'http://en.wikipedia.org/wiki/Yas_Marina_Circuit',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Oscar_Alfredo_G%C3%A1lvez',
 'http://en.wikipedia.org/wiki/Circuito_Permanente_de_Jerez',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_do_Estoril',
 'http://en.wikipedia.org/wiki/TI_Circuit',
 'http://en.wikipedia.org/wiki/Adelaide_Street_Circuit',
 'http://en.wikipedia.org/wiki/Kyalami',
 'http://en.wikipedia.org/wiki/Donington_Park',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Hermanos_Rodr%C3%ADguez',
 'http://en.wikipedia.org/wiki/Phoenix_street_circuit',
 'http://en.wikipedia.org/wiki/Paul_Ricard_Circuit',
 'http://en.wikipedia.org/wiki/Korean_International_Circuit',
 'http://en.wikipedia.org/wiki/Aut%C3%B3dromo_Internacional_Nelson_Piquet',
 'http://en.wikipedia.org/wiki/Detroit_street_circuit',
 'http://en.wikipedia.org/wiki/Brands_Hatch',
 'http://en.wikipedia.org/wiki/Circuit_Zandvoort',
 'http://en.wikipedia.org/wiki/Zolder',
 'http://en.wikipedia.org/wiki/Dijon-Prenois',
 'http://en.wikipedia.org/wiki/Fair_Park',
 'http://en.wikipedia.org/wiki/Long_Beach,_California',
 'http://en.wikipedia.org/wiki/Las_Vegas_Street_Circuit',
 'http://en.wikipedia.org/wiki/Circuito_Permanente_Del_Jarama',
 'http://en.wikipedia.org/wiki/Watkins_Glen_International',
 'http://en.wikipedia.org/wiki/Scandinavian_Raceway',
 'http://en.wikipedia.org/wiki/Mosport',
 'http://en.wikipedia.org/wiki/Montju%C3%AFc_circuit',
 'http://en.wikipedia.org/wiki/Nivelles-Baulers',
 'http://en.wikipedia.org/wiki/Charade_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_Mont-Tremblant',
 'http://en.wikipedia.org/wiki/Rouen-Les-Essarts',
 'http://en.wikipedia.org/wiki/Circuit_de_la_Sarthe#Bugatti_Circuit',
 'http://en.wikipedia.org/wiki/Reims-Gueux',
 'http://en.wikipedia.org/wiki/Prince_George_Circuit',
 'http://en.wikipedia.org/wiki/Zeltweg_Airfield',
 'http://en.wikipedia.org/wiki/Aintree_Motor_Racing_Circuit',
 'http://en.wikipedia.org/wiki/Circuito_da_Boavista',
 'http://en.wikipedia.org/wiki/Riverside_International_Raceway',
 'http://en.wikipedia.org/wiki/AVUS',
 'http://en.wikipedia.org/wiki/Monsanto_Park_Circuit',
 'http://en.wikipedia.org/wiki/Sebring_Raceway',
 'http://en.wikipedia.org/wiki/Ain-Diab_Circuit',
 'http://en.wikipedia.org/wiki/Pescara_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_Bremgarten',
 'http://en.wikipedia.org/wiki/Pedralbes_Circuit',
 'http://en.wikipedia.org/wiki/Buddh_International_Circuit',
 'http://en.wikipedia.org/wiki/Circuit_of_the_Americas',
 'http://en.wikipedia.org/wiki/Red_Bull_Ring',
 'http://en.wikipedia.org/wiki/Sochi_Autodrom',
 'http://en.wikipedia.org/wiki/Baku_City_Circuit',
 'http://en.wikipedia.org/wiki/Algarve_International_Circuit',
 'http://en.wikipedia.org/wiki/Mugello_Circuit',
 'http://en.wikipedia.org/wiki/Jeddah_Street_Circuit',
 'http://en.wikipedia.org/wiki/Losail_International_Circuit',
 'http://en.wikipedia.org/wiki/Miami_International_Autodrome']

In [8]:
# for link in lista_links:
    # webbrowser.open_new_tab(link)

In [9]:
circuits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   77 non-null     int64
 1   circuitRef  77 non-null     object
 2   name        77 non-null     object
 3   location    77 non-null     object
 4   country     77 non-null     object
 5   lat         77 non-null     float64
 6   lng         77 non-null     float64
 7   alt         77 non-null     object
 8   url         77 non-null     object
 9   layout      0 non-null      float64
dtypes: float64(3), int64(1), object(6)
memory usage: 6.1+ KB

In [10]:
constructor_results = pd.read_csv("..\Data\constructor_results.csv")

constructor_results

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0     \N
1                         2      18              2     8.0     \N
2                         3      18              3     9.0     \N
3                         4      18              4     5.0     \N
4                         5      18              5     2.0     \N
...                     ...     ...            ...     ...    ...
12285                 16785    1110            214    10.0     \N
12286                 16786    1110            213     1.0     \N
12287                 16787    1110             51     0.0     \N
12288                 16788    1110              3     0.0     \N
12289                 16789    1110            210     0.0     \N

[12290 rows x 5 columns]

In [11]:
constructor_results.status.unique()

array(['\\N', 'D'], dtype=object)

In [12]:
constructor_standings = pd.read_csv("..\Data\constructor_standings.csv")

constructor_standings

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0
...,...,...,...,...,...,...,...
13046,28568,1110,214,57.0,6,6,0
13047,28569,1110,3,11.0,7,7,0
13048,28570,1110,213,3.0,10,10,0
13049,28571,1110,210,11.0,8,8,0
13050,28572,1110,1,103.0,5,5,0

In [13]:
constructors = pd.read_csv("..\Data\constructors.csv")

constructors

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

In [14]:
constructors.name.unique()

array(['McLaren', 'BMW Sauber', 'Williams', 'Renault', 'Toro Rosso',
       'Ferrari', 'Toyota', 'Super Aguri', 'Red Bull', 'Force India',
       'Honda', 'Spyker', 'MF1', 'Spyker MF1', 'Sauber', 'BAR', 'Jordan',
       'Minardi', 'Jaguar', 'Prost', 'Arrows', 'Benetton', 'Brawn',
       'Stewart', 'Tyrrell', 'Lola', 'Ligier', 'Forti', 'Footwork',
       'Pacific', 'Simtek', 'Team Lotus', 'Larrousse', 'Brabham',
       'Dallara', 'Fondmetal', 'March', 'Andrea Moda', 'AGS', 'Lambo',
       'Leyton House', 'Coloni', 'Euro Brun', 'Osella', 'Onyx', 'Life',
       'Rial', 'Zakspeed', 'RAM', 'Alfa Romeo', 'Spirit', 'Toleman',
       'ATS', 'Theodore', 'Fittipaldi', 'Ensign', 'Shadow', 'Wolf',
       'Merzario', 'Kauhsen', 'Rebaque', 'Surtees', 'Hesketh', 'Martini',
       'BRM', 'Penske', 'LEC', 'McGuire', 'Boro', 'Apollon', 'Kojima',
       'Parnelli', 'Maki', 'Embassy Hill', 'Lyncar', 'Trojan', 'Amon',
       'Token', 'Iso Marlboro', 'Tecno', 'Matra', 'Politoys', 'Connew',
       'Bellasi', 'De Tomaso', 'Cooper', 'Eagle', 'LDS', 'Protos',
       'Shannon', 'Scirocco', 'RE', 'BRP', 'Porsche', 'Derrington',
       'Gilby', 'Stebro', 'Emeryson', 'ENB', 'JBW', 'Ferguson', 'MBM',
       'Behra-Porsche', 'Maserati', 'Scarab', 'Watson', 'Epperly',
       'Phillips', 'Lesovsky', 'Trevis', 'Meskowski', 'Kurtis Kraft',
       'Kuzma', 'Christensen', 'Ewing', 'Aston Martin', 'Vanwall',
       'Moore', 'Dunn', 'Elder', 'Sutton', 'Fry', 'Tec-Mec', 'Connaught',
       'Alta', 'OSCA', 'Gordini', 'Stevens', 'Bugatti', 'Mercedes',
       'Lancia', 'HWM', 'Schroeder', 'Pawl', 'Pankratz', 'Arzani-Volpini',
       'Nichels', 'Bromme', 'Klenk', 'Simca', 'Turner', 'Del Roy',
       'Veritas', 'BMW', 'EMW', 'AFM', 'Frazer Nash', 'Sherman', 'Deidt',
       'ERA', 'Aston Butterworth', 'Cisitalia', 'Talbot-Lago', 'Hall',
       'Marchese', 'Langley', 'Rae', 'Olson', 'Wetteroth', 'Adams',
       'Snowberger', 'Milano', 'HRT', 'Cooper-Maserati', 'Virgin',
       'Cooper-OSCA', 'Cooper-Borgward', 'Cooper-Climax',
       'Cooper-Castellotti', 'Lotus-Climax', 'Lotus-Maserati',
       'De Tomaso-Osca', 'De Tomaso-Alfa Romeo', 'Lotus-BRM',
       'Lotus-Borgward', 'Cooper-Alfa Romeo', 'De Tomaso-Ferrari',
       'Lotus-Ford', 'Brabham-BRM', 'Brabham-Ford', 'Brabham-Climax',
       'LDS-Climax', 'LDS-Alfa Romeo', 'Cooper-Ford', 'McLaren-Ford',
       'McLaren-Serenissima', 'Eagle-Climax', 'Eagle-Weslake',
       'Brabham-Repco', 'Cooper-Ferrari', 'Cooper-ATS', 'McLaren-BRM',
       'Cooper-BRM', 'Matra-Ford', 'BRM-Ford', 'McLaren-Alfa Romeo',
       'March-Alfa Romeo', 'March-Ford', 'Lotus-Pratt &amp; Whitney',
       'Shadow-Ford', 'Shadow-Matra', 'Brabham-Alfa Romeo', 'Lotus',
       'Marussia', 'Caterham', 'Lotus F1', 'Manor Marussia',
       'Haas F1 Team', 'Racing Point', 'AlphaTauri', 'Alpine F1 Team'],
      dtype=object)

In [15]:
constructors[constructors.name=='Lotus-Pratt &amp; Whitney']

,constructorId,constructorRef,name,nationality,url
198,201,lotus-pw,Lotus-Pratt &amp; Whitney,British,http://en.wikipedia.org/wiki/Team_Lotus

for c in cons:
    busqueda = f"https://www.google.com/search?q={c} f1 logo"
    webbrowser.open_new_tab(busqueda)

carpeta = r"C:\Users\chiin\Desktop\f1_databse\Images\escuderias"

# Recorrer los nombres y descargar la primera imagen de cada búsqueda
for c in cons:
    busqueda = f"https://www.google.com/search?q={c} f1 logo"
    response = requests.get(busqueda)
    response.raise_for_status()

    soup = BeautifulSoup(response.text, 'html.parser')
    imagen_tag = soup.find('img')
    imagen_url = imagen_tag['src']

    # Obtener el nombre de la imagen
    nombre_imagen = c.replace(' ', '_') + '.jpg'
    ruta_imagen = os.path.join(carpeta, nombre_imagen)

    # Descargar y guardar la imagen
    imagen_response = requests.get(imagen_url)
    with open(ruta_imagen, 'wb') as f:
        f.write(imagen_response.content)

In [16]:
driver_standings = pd.read_csv("..\Data\driver_standings.csv")

driver_standings

,driverStandingsId,raceId,driverId,points,position,positionText,wins
0,1,18,1,10.0,1,1,1
1,2,18,2,8.0,2,2,0
2,3,18,3,6.0,3,3,0
3,4,18,4,5.0,4,4,0
4,5,18,5,4.0,5,5,0
...,...,...,...,...,...,...,...
34119,72183,1110,846,69.0,8,8,0
34120,72184,1110,839,35.0,10,10,0
34121,72185,1110,844,99.0,5,5,0
34122,72186,1110,857,34.0,11,11,0
34123,72187,1110,817,0.0,21,21,0

In [17]:
drivers = pd.read_csv("..\Data\drivers.csv")

drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German,http://en.wikipedia.org/wiki/Mick_Schumacher
853,855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese,http://en.wikipedia.org/wiki/Zhou_Guanyu
854,856,de_vries,21,DEV,Nyck,de Vries,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant

In [18]:
drivers['forename'] = drivers['forename'] + ' ' + drivers['surname']

drivers.drop("surname", axis =1, inplace = True)

drivers = drivers.rename(columns={'forename': 'name'})

drivers.head()

,driverId,driverRef,number,code,name,dob,nationality,url
0,1,hamilton,44,HAM,Lewis Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [19]:
lap_times = pd.read_csv("..\Data\lap_times.csv")

lap_times

        raceId  driverId  lap  position      time  milliseconds
0          841        20    1         1  1:38.109         98109
1          841        20    2         1  1:33.006         93006
2          841        20    3         1  1:32.713         92713
3          841        20    4         1  1:32.803         92803
4          841        20    5         1  1:32.342         92342
...        ...       ...  ...       ...       ...           ...
551737    1110       817   40        17  1:54.361        114361
551738    1110       817   41        17  1:53.367        113367
551739    1110       817   42        16  1:55.247        115247
551740    1110       817   43        16  1:52.115        112115
551741    1110       817   44        16  1:52.265        112265

[551742 rows x 6 columns]

In [20]:
pit_stops = pd.read_csv("..\Data\pit_stops.csv")

pit_stops

       raceId  driverId  stop  lap      time duration  milliseconds
0         841       153     1    1  17:05:23   26.898         26898
1         841        30     1    1  17:05:52   25.021         25021
2         841        17     1   11  17:20:48   23.426         23426
3         841         4     1   12  17:22:34   23.251         23251
4         841        13     1   13  17:24:10   23.842         23842
...       ...       ...   ...  ...       ...      ...           ...
10084    1110         4     2   29  15:59:01   23.798         23798
10085    1110       830     2   30  16:00:16   23.012         23012
10086    1110       848     3   33  16:07:06   23.529         23529
10087    1110       858     3   34  16:09:09   23.109         23109
10088    1110         1     3   42  16:23:05   23.156         23156

[10089 rows x 7 columns]

In [21]:
qualifying = pd.read_csv("..\Data\qualifying.csv")

qualifying

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
...,...,...,...,...,...,...,...,...,...
9810,9868,1110,848,3,23,16,2:00.314,\N,\N
9811,9869,1110,855,51,24,17,2:00.832,\N,\N
9812,9870,1110,858,3,2,18,2:01.535,\N,\N
9813,9871,1110,817,213,3,19,2:02.159,\N,\N
9814,9872,1110,807,210,27,20,2:03.166,\N,\N

In [22]:
races = pd.read_csv("../Data/races.csv")

races

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1096,1116,2023,18,69,United States Grand Prix,2023-10-22,19:00:00,https://en.wikipedia.org/wiki/2023_United_Stat...,2023-10-20,17:30:00,2023-10-21,18:00:00,\N,\N,2023-10-20,21:00:00,2023-10-21,22:00:00
1097,1117,2023,19,32,Mexico City Grand Prix,2023-10-29,20:00:00,https://en.wikipedia.org/wiki/2023_Mexico_City...,2023-10-27,18:30:00,2023-10-27,22:00:00,2023-10-28,17:30:00,2023-10-28,21:00:00,\N,\N
1098,1118,2023,20,18,São Paulo Grand Prix,2023-11-05,17:00:00,https://en.wikipedia.org/wiki/2023_S%C3%A3o_Pa...,2023-11-03,14:30:00,2023-11-04,14:30:00,\N,\N,2023-11-03,18:00:00,2023-11-04,18:30:00
1099,1119,2023,21,80,Las Vegas Grand Prix,2023-11-19,06:00:00,https://en.wikipedia.org/wiki/2023_Las_Vegas_G...,2023-11-17,04:30:00,2023-11-17,08:00:00,2023-11-18,04:30:00,2023-11-18,08:00:00,\N,\N
1100,1120,2023,22,24,Abu Dhabi Grand Prix,2023-11-26,13:00:00,https://en.wikipedia.org/wiki/2023_Abu_Dhabi_G...,2023-11-24,09:30:00,2023-11-24,13:00:00,2023-11-25,10:30:00,2023-11-25,14:00:00,\N,\N

In [23]:
results = pd.read_csv("../Data/results.csv")

results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26075,26081,1110,817,213,3,19,16,16,16,0.0,44,+1:43.071,5053521,25,15,1:50.994,227.169,1
26076,26082,1110,858,3,2,18,17,17,17,0.0,44,+1:44.476,5054926,37,9,1:50.486,228.213,1
26077,26083,1110,807,210,27,0,18,18,18,0.0,44,+1:50.450,5060900,26,4,1:49.907,229.415,1
26078,26084,1110,832,6,55,4,\N,R,19,0.0,23,\N,\N,9,19,1:53.138,222.864,130
26079,26085,1110,857,1,81,5,\N,R,20,0.0,0,\N,\N,\N,0,\N,\N,130

In [24]:
seasons = pd.read_csv("../Data/seasons.csv")

seasons

    year                                                url
0   2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1   2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2   2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3   2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4   2005  http://en.wikipedia.org/wiki/2005_Formula_One_...
..   ...                                                ...
69  2019  http://en.wikipedia.org/wiki/2019_Formula_One_...
70  2020  http://en.wikipedia.org/wiki/2020_Formula_One_...
71  2021  http://en.wikipedia.org/wiki/2021_Formula_One_...
72  2022  http://en.wikipedia.org/wiki/2022_Formula_One_...
73  2023  https://en.wikipedia.org/wiki/2023_Formula_One...

[74 rows x 2 columns]

In [25]:
sprint_results = pd.read_csv("../Data/sprint_results.csv")

sprint_results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,176,1110,858,3,2,13,16,16,16,0,11,+37.571,1536004,6,2:03.482,1
176,177,1110,807,210,27,20,17,17,17,0,11,+37.827,1536260,6,2:03.472,1
177,178,1110,852,213,22,16,18,18,18,0,11,+39.267,1537700,7,2:02.080,1
178,179,1110,815,9,11,8,\N,R,19,0,8,\N,\N,2,2:02.516,130
179,180,1110,4,117,14,15,\N,R,20,0,2,\N,\N,\N,\N,3

In [26]:
status = pd.read_csv("../Data/status.csv")

status

     statusId          status
0           1        Finished
1           2    Disqualified
2           3        Accident
3           4       Collision
4           5          Engine
..        ...             ...
134       137          Damage
135       138          Debris
136       139         Illness
137       140       Undertray
138       141  Cooling system

[139 rows x 2 columns]

In [27]:
str_conn = f'mysql+pymysql://root:11Xwing!@localhost:3306/f1'    #aqui va el nombre de la base de datos ya creada
cursor = create_engine(str_conn)

In [28]:
circuits.to_sql(name='circuits',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

77

In [29]:
constructor_results.to_sql(name='constructor_results',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

12290

In [30]:
constructor_standings.to_sql(name='constructor_standings',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

13051

In [31]:
constructors.to_sql(name='constructors',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

211

In [32]:
driver_standings.to_sql(name='driver_standings',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

34124

In [33]:
drivers.to_sql(name='drivers',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

857

In [34]:
lap_times.to_sql(name='lap_times',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

551742

In [35]:
pit_stops.to_sql(name='pit_stops',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

10089

In [36]:
qualifying.to_sql(name='qualifying',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

9815

In [37]:
races.to_sql(name='races',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

1101

In [38]:
results.to_sql(name='results',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

26080

In [39]:
seasons.to_sql(name='seasons',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

74

In [40]:
sprint_results.to_sql(name='sprint_results',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

180

In [41]:
status.to_sql(name='status',       # nombre de la tabla
            con=cursor,                                     # conexion al servidor
            if_exists='replace',                           # replace sobreescribe la tabla
            index=False
           )

139